<section class="page-section">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">¿Qué es?</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa-solid fa-earth-americas"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center">
      <!-- Portfolio Item 1-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#whatisModela1">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
          </div>
          <img class="img-fluid" src="images/portfolio/cabin.png" alt="..." />
        </div>
      </div>
      <!-- Portfolio Item 2-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#whatisModela2">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
          </div>
          <img class="img-fluid" src="images/portfolio/cake.png" alt="..." />
        </div>
      </div>
      <!-- Portfolio Item 3-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#whatisModela3">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
          </div>
          <img class="img-fluid" src="images/portfolio/circus.png" alt="..." />
        </div>
      </div>
      <!-- Portfolio Item 4-->
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#whatisModela4">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
          </div>
          <img class="img-fluid" src="images/portfolio/game.png" alt="..." />
        </div>
      </div>
      <!-- Portfolio Item 5-->
      <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#whatisModela5">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
          </div>
          <img class="img-fluid" src="images/portfolio/safe.png" alt="..." />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="whatisModela1" tabindex="-1" aria-labelledby="whatisModela1"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
          aria-label="Close"></button></div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Acueducto💧</h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img class="img-fluid rounded mb-5" src="images/portfolio/cabin.png" alt="..." />
              <!-- Portfolio Modal - Text-->
              <p class="mb-4">Tu consumo de agua potable y cómo afecta los recursos hídricos.</p>
              <button class="btn btn-primary" data-bs-dismiss="modal">
                <i class="fas fa-xmark fa-fw"></i>
                Cerrar ventana
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="whatisModela2" tabindex="-1" aria-labelledby="whatisModela2"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
          aria-label="Close"></button></div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Alcantarillado🚽</h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img class="img-fluid rounded mb-5" src="images/portfolio/cabin.png" alt="..." />
              <!-- Portfolio Modal - Text-->
              <p class="mb-4">El manejo de aguas residuales y su impacto en los ecosistemas acuáticos.</p>
              <button class="btn btn-primary" data-bs-dismiss="modal">
                <i class="fas fa-xmark fa-fw"></i>
                Cerrar ventana
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="whatisModela3" tabindex="-1" aria-labelledby="whatisModela3"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
          aria-label="Close"></button></div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Gas🔥</h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img class="img-fluid rounded mb-5" src="images/portfolio/cabin.png" alt="..." />
              <!-- Portfolio Modal - Text-->
              <p class="mb-4">Tu uso de gas natural o propano y su contribución a la huella de carbono.</p>
              <button class="btn btn-primary" data-bs-dismiss="modal">
                <i class="fas fa-xmark fa-fw"></i>
                Cerrar ventana
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="whatisModela4" tabindex="-1" aria-labelledby="whatisModela4"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
          aria-label="Close"></button></div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Energía⚡</h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Modal - Image-->
              <img class="img-fluid rounded mb-5" src="images/portfolio/cabin.png" alt="..." />
              <!-- Portfolio Modal - Text-->
              <p class="mb-4">El consumo eléctrico en tu hogar y su relación con la emisión de gases de efecto
                invernadero.</p>
              <button class="btn btn-primary" data-bs-dismiss="modal">
                <i class="fas fa-xmark fa-fw"></i>
                Cerrar ventana
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>