<section class="page-section bg-image">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="mundo mb-5" src="images/mundo.svg" alt="">
        <!-- Masthead Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">¿Sabes cuál es tu impacto en el planeta?</h2>

        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">
            Descubre cómo tus hábitos de consumo de servicios públicos afectan la biodiversidad y los recursos
            naturales.
        </p>
    </div>
</section>