body {
    padding-top: 50px;
}

#questionContainer {
    min-height: 200px;
}

.error-message-display-none {
    display: none;
}

.error-message-display {
    color: red;
}

.responsive-image {
    max-width: 30%;
    height: auto;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-option {
    margin-bottom: 10px;
}

.form-check input[type="radio"] {
    margin-right: 10px;
}